<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>

    <meta name="description" content="stdlib is a standard library for JavaScript and Node.js, with an emphasis on numerical and scientific computing.">
    <meta name="author" content="stdlib">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{relativeURL "apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{relativeURL "favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{relativeURL "favicon-16x16.png"}}">
    <link rel="manifest" href="{{relativeURL "manifest.json"}}">
    <link rel="mask-icon" href="{{relativeURL "safari-pinned-tab.svg"}}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="stdlib">
    <meta property="og:url" content="https://stdlib.io/">
    <meta property="og:title" content="A standard library for JavaScript and Node.js.">
    <meta property="og:description" content="stdlib is a standard library for JavaScript and Node.js, with an emphasis on numerical and scientific computing.">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="">

    <!-- X -->
    <meta name="twitter:card" content="A standard library for JavaScript and Node.js.">
    <meta name="twitter:site" content="@stdlibjs">
    <meta name="twitter:url" content="https://stdlib.io/">
    <meta name="twitter:title" content="stdlib">
    <meta name="twitter:description" content="stdlib is a standard library for JavaScript and Node.js, with an emphasis on numerical and scientific computing.">
    <meta name="twitter:image" content="">

    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <link rel="stylesheet" href="{{relativeURL "assets/css/theme.css"}}">
</head>
<body>

{{> header}}

<div class="container container-main">
    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script src="{{relativeURL "assets/js/theme.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
